// src/assets/styles/basics/_base.scss
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    color: $text-color;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: $spacing-large 0;
}

a {
    text-decoration: none;
    color: $primary-color;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 $spacing-medium;
}
